<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="header">Idea Box...</h1>
      <p class="subtext">past brilliant ideas:</p><br>
      <div id="latest-ideas"></div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <div class="idea-form">
        <p class="next-idea">your next great idea:</p><br>
        idea: <br>
        <input class="form-control" type="text" id="idea-title">
        <hr>
        description: <br>
        <input class="form-control" type="text" id="idea-description">
        <br>
        <input class="btn btn-default" id="create-idea" type="button" name="submit" value="save this idea">
      </div>
    </div>
  </div>
</div>
