<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="header">Idea Box...</h1>
      <p class="subtext">your brilliant ideas:</p><br>
      <div id="latest-ideas"></div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 idea-form">
      Idea: <br>
      <input class="form-control" type="text" id="idea-title">
      <hr>
      Description: <br>
      <input class="form-control" type="text" id="idea-description">
      <br>
      <input class="btn btn-default" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
  </div>
</div>
