body {
  background-color: #480607;
}

.header {
  margin-top: 100px;
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  color: #DEAB2F;
  padding: 50px;
  border-style: solid;
  display: inline-block;
  border-color: black;
}

.subtext {
  font-family: 'Poiret One', cursive;
  color: #DEAB2F;
  font-size: 2em;
}
