body {
  background-color: #480607;
}

.header {
  margin-top: 100px;
  font-family: 'Poiret One', cursive;
  font-size: 5em;
  color: #DEAB2F;
  padding: 50px;
  border-style: double;
  display: inline-block;
  border-color: #453100;
  margin-bottom: 20px;
}

.subtext {
  font-family: 'Poiret One', cursive;
  color: #DEAB2F;
  font-size: 2em;
}

#latest-ideas {
  font-family: 'Poiret One', cursive;
  color: #453100;
  border-style: double;
  border-color: #453100;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  background-color: #F5F5DC;
}

h3 {
  font-size: 2em;
}

.idea-form {
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  margin-top: 375px;
  border-style: double;
  border-color: #453100;
  padding-left: 50px;
  padding: 50px;
  background-color: #F5F5DC;
}

#create-idea {
  color: #453100;
  font-size: 1em;
}

.next-idea {
  font-family: 'Poiret One', cursive;
  color: #DEAB2F;
  font-size: 1.25em;
  margin-top: 350;
}

#delete-idea, #edit-idea, #upvote-idea, #downvote-idea, #update-idea {
  color: #453100;
  font-size: 1.2em;
  margin: 5px;
}

.edit-form {
  border-style: double;
  border-color: #453100;
  padding: 20px;
}

p, label {
  font-size: 1.2em;
}
